html {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
}

.banner {
  position: relative;
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 3em;
  left: 0;
}

h1{
  font-size: 2.5rem;
  line-height: 3rem;
}

.protrait {
  width: 100%;
  position: absolute;
  top: 15em;
  left: 0em;
  text-align: center;
  display: inline-block;
}

@media only screen and (min-width: 38em) {

  h1{
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .protrait {
    width: 100%;
    position: absolute;
    top: 2em;
    left: 25em;
    text-align: center;
  }

  .self-portrait{
    width: 40%;
  }

  .content {
    text-align: left;
    left: 11em;
    top: 7em;
}

@media only screen and (min-width: 90em) {
  .banner {
    position: relative;
    width: 100%;
  }

  .content {
    width: 100%;
    position: absolute;
    display: inline-block;
    text-align: left;
    top: 6em;
    left: 11em;
}

  .protrait {
    width: 70%;
    position: absolute;
    top: 0;
    left: 27em;
}
}
