html {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/background2.svg");
  background-size: 800px auto;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
}

.banner {
  width: 100%;
  position: relative;
}
.content {
  width: 100%;
  display: inline-block;
  text-align: center;
}

h1{
  font-size: 2.5rem;
  line-height: 3rem;
}

.protrait {
  width: 100%;
  text-align: center;
  display: inline-block;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover{
  color:#ffc5b5;
}

@media only screen and (min-width: 38em) {

  h1{
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .content {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 7em;
    text-align: left;
    left: 5em;
  }

  .protrait{
    width: 100%;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 0;
    text-align: left;
    left: 22em;
  }

  .self-portrait{
    width: 40%;
  }



@media only screen and (min-width: 90em) {
  .banner {
    position: relative;
    width: 100%;
  }

  .content {
    width: 100%;
    position: absolute;
    display: inline-block;
    text-align: left;
    top: 10em;
    left: 11em;
}

  .protrait {
    width: 70%;
    position: absolute;
    top: 3em;
    left: 28em;
}
}
